.larosalia{
	padding-top: 4% !important;
	margin-top: 0% !important;
}

.logos{
	width: 25px;
	margin-right: 5px;
	margin-top: -3px;
}

.menu{
	font-size: 1rem;
	font-weight: bold;
}

/** Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.larosalia{	
		padding-top: 12% !important;
		margin-top: 0% !important;
	}
}

/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.larosalia{	
		padding-top: 10% !important;
		margin-top: 0% !important;
	}
}

/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/** Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
		.larosalia{
	padding-top: 4.8% !important;
	margin-top: 0% !important;
}
}

/** Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.larosalia{
	padding-top: 4.8% !important;
	margin-top: 0% !important;
}

}