@font-face{
  font-family: Roboto-Black;
  src:url("../fuentes/Roboto-Black.ttf");
}

@font-face{
  font-family: Roboto-Light;
  src:url("../fuentes/Roboto-Light.ttf");
}

@font-face{
  font-family: Roboto-Bold;
  src:url("../fuentes/Roboto-Bold.ttf");
}


@font-face{
  font-family: Roboto-Medium;
  src:url("../fuentes/Roboto-Medium.ttf");
}


.RobotoBlack{
	font-family: Roboto-Black;
}

.RobotoLight{
	font-family: Roboto-Light;
}

.Roboto{
	font-family: Roboto-Bold;
}

.RobotMedium{
	font-family: Roboto-Medium;
}

.backgroundBlue{
	background-color: #0079be;
}

.backgroundBlue2{
	background-color: #004698 !important;
}

.backgroundBlue3{
	background-color: #244e7f;
}

.backgroundBlue4{
	background-color: #23abc6;
}

.backgroundBlack{
	background-color: #0e0e0e;
}

.textWhite{
	color: #fff;
}

.textGray{
	color: #838b93;
}

.textBlue{
	color: #1c3c6d;
}

.textOrange{
	color:#f67f4a;
}

.bold{
	font-weight: bold;
}

.dejanosForm{
	font-size: 25px;
}

.internetForm{
	font-size: 23px;
}

.tvForm{
	font-size: 20px;	
}

.iconTel{
	width: 10px;
}

.form-box {
    position: absolute;
    top: 55%;
    right: 5%;
    border-radius: 5px !important;
    width: 400px;
}

.form-box2{
    position: absolute;
    top: 159%;
    left: 8%;
    border-radius: 5px !important;
    width: 400px;
}

.form-box3{
    position: absolute;
    top: 263%;
    right: 5%;
    border-radius: 5px !important;
    width: 400px;
}

.terminosForm{
	font-size: 13px;
}

.borderButtom{
	border: 0;
}

.telefono{
	top: 115px;
	left: 66px;
}

/*Nav*/
.posNav{
	position: fixed;
	z-index: 1;
}

.logonav{
	max-width: 300px;
}

.boton{
	background-color: #ffc107;
}

.targeters{
	font-size: 11px;
	font-family: Roboto;
}

.footer{
	font-size: 80%;
}
.atencionalcliente{
	margin-bottom: auto;
	font-size: 13.6px;
	margin-top: auto;
}

.navbar-light .navbar-toggler {
	color: #fff;
	border-color: #fff;
    border-top-color: 
	rgb(255, 255, 255);
	border-right-color:
	rgb(255, 255, 255);
	border-bottom-color:
	rgb(255, 255, 255);
	border-left-color:rgb(255, 255, 255);
}

.navbar-toggler-icon {

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
 }

/** Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.posNav{
	position: fixed;
	z-index: 1;
}
}

/** Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/** Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.logoTargeters{
		width: 50% !important;
	}
}

/** Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.larosalia{
		margin-top: 12%;
	}
}

/** Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.logonav{
	max-width: 319px;
}
.form-box {
    position: absolute;
    top: 55%;
    right: 5%;
    border-radius: 5px !important;
    width: 400px;
}

.form-box2{
    position: absolute;
    top: 172%;
    left: 8%;
    border-radius: 5px !important;
    width: 400px;
}

.form-box3{
    position: absolute;
    top: 282%;
    right: 12%;
    border-radius: 5px !important;
    width: 400px;
}

.margin6{
	margin-top: 4rem !important
}

}
